[connections.snowflake]
account = "<YOUR ACCOUNT in org-acct format>"
user = "<YOUR USER>"
private_key_file = "<PATH TO YOUR PRIVATE KEY>"
role = "rl_app"
warehouse = "cortex_analyst_wh"
database = "cortex_analyst_demo"
schema = "revenue_timeseries"